@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  background-color: #f6f6f6;
}

body {
  padding-top: 116px;
}

.popup-overlay {
  transition: 0.3s ease opacity;
}

.close-popup {
  background-color: transparent;
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s ease background;
  cursor: pointer;
}

.close-popup:hover {
  background: #ededed;
}
